[Unit]
Description=PulseAudio system server
After=network.target

[Service]
ExecStart=/usr/bin/pulseaudio --system --realtime --log-target=journal
User=root
Group=root
Restart=always
RuntimeDirectory=pulse
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
