[Unit]
Description=PulseAudio system server
After=network.target

[Service]
ExecStart=/usr/bin/pulseaudio --system --realtime --log-target=journal
User=pulse
Group=pulse-access
Restart=always

[Install]
WantedBy=multi-user.target
