[Unit]
Description=WyzeSensePy Service

[Service]
Type=simple
ExecStart=/home/pi/WyzeSensePy/venv/bin/python3 /home/pi/WyzeSensePy/sample.py --service -r --soundclips 4 --soundtime 7 --volume 30 --speakerid=04:C8:70:21:10:20
StandardOutput=null
User=pi
Group=pi
WorkingDirectory=/home/pi/WyzeSensePy/

[Install]
WantedBy=multi-user.target
Alias=wyzesensepy.service